.parallax::before{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
div.contador{
  position: relative;
  height: auto;
}
div.contador::before{
  background-image: url(../img/bg-resumen.jpg);
  content: '';
}
